:root {
    --blue: #0B1D40;
    --white: #fff;
}

* {
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--blue);
    background: var(--white);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    padding: 1em;
}

nav img {
    width: 8em;
    height: auto;
    vertical-align: middle;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a > img {
    vertical-align: middle;
    margin-right: .5em;
    width: 1.25em;
    height: auto;
}

nav a + a {
    margin-left: 1em;
}

.logout {
    font-weight: 600;
    color: crimson;
    text-decoration: none;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    min-height:100%;
    position:relative;
}

form {
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 600px;
    width: 400px;
}

input {
    outline: none;
    -webkit-appearance: none;
    border: none;
}

input:focus {
    outline: none !important;
}

form label {
    font-weight: 600;
}

form input {
    margin: .5em 0;
    padding: .2em;
    font-size: inherit;
    border-bottom: 1px solid var(--blue);
}

form button {
    color: var(--white);
    background: var(--blue);
    font-weight: 600;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    margin: 1em 0;
}

table {
    border-collapse: separate;
    width: 100%;
    color: var(--blue);
    font-size: 15px;
    text-align: start;
}

th {
    background-color: var(--blue);
    color: var(--white);
}
tr:nth-child(even) {background-color: #f2f2f2}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 0;
}

.buttons a, .btn {
    color: var(--white);
    background: var(--blue);
    font-weight: 600;
    text-decoration: none;
    padding: 1em;
    text-align: center;
}

.buttons a {
    margin: 0 .5em
}

footer {
    background: rgba(11, 29, 65, .75);
    color: var(--white);
    font-weight: 600;
    padding: 4em 2em;

    clear: both;
    position: relative;
    margin-top: -200px;
    bottom: -20em;
}